#show_profile
  - model_class = Company
  .page-header
    %h3=t '.title', :default => @company.name

  %p
    %strong= model_class.human_attribute_name(:symbol) + ':'

    = @company.symbol

  %p
    %strong= model_class.human_attribute_name("Sector") + ':'

    = @company.sector.name

  - @company.profiles.each do |profile|
    %hr
    %p
      %strong= model_class.human_attribute_name("Website URL") + ':'
      %br
      = profile.url
    %p
      - model_class.human_attribute_name(:logo) + ':'
      %br
      = image_tag(profile.logo.url)




