%table.table.table-striped
  %thead
    %tr
      %th Company:
      %th Symbol:
      %th Website:
      %th Logo:
  %tbody
    %tr
      %td= @profile.company.name
      %td= @profile.company.symbol
      %td= @profile.url
      %td= image_tag(@profile.logo.url)

-# TODO set profile.id into user's cookies


= simple_form_for @profile, url: {controller: "surveys" ,action: "create"}, :method => :post do |f|
  - @surveys.each.with_index do |survey, index|
    = f.simple_fields_for :surveys, survey do |fs|
      = @questions[index].question_content
      = fs.association :answer, :collection => @questions[index].answers, :as => :radio_buttons, :item_wrapper_class => 'inline',:label => '', :label_method => :answer_content
      %hr




  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.back', :default => t("helpers.links.back")), {:action => "index"}, { :class => 'btn'}