!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "LOGOAnalyst"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="images/favicon.ico" rel="shortcut icon")


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .brand=link_to "Logo Analyst", root_path

          .btn-group.pull-right
            %a.btn.dropdown-toggle(data-toggle="dropdown" href="#")
              %i.icon-user
              Username
              %span.caret
            - if current_user.blank?
              %ul.dropdown-menu
                %li
                  %a=link_to "Sign in", new_user_session_path, :method => :get
                %li.divider
                %li
                  %a=link_to "Sign up", new_user_registration_path, :method => :get
            - else
              %ul.dropdown-menu
                %li
                  %a(href="#") Profile
                %li.divider
                %li
                  %a=link_to "Sign out", destroy_user_session_path, :method => :delete

          .nav-collapse
            %ul.nav
              %li{class: ("active" if params[:controller] == 'home')}
                =link_to "Home", root_path
              %li{class: ("active" if params[:controller] == 'companies')}
                =link_to "Company List", company_index_path
              %li{class: ("active" if params[:controller] == 'profiling_company')}
                =link_to "Create Company Profile", profiling_company_index_path
              %li{class: ("active" if params[:controller] == 'questions')}
                =link_to "Manage Survey", questions_path

    .container-fluid

      .row-fluid

        .span3


          .well.sidebar-nav.sidebar-nav-fixed

            = yield :sidebar


        .span9
          = bootstrap_flash
          = yield

      %hr
    
      %footer
        %p &copy; Company 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"


    :javascript
      $(document).ready(function(){
        $('#button').button();

        $('#button').click(function() {
          $(this).button('loading');
        });
      });